@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');


body {
  font-family: Oswald, sans-serif;
  background-color: #EEE6CE;
}

h1 {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  color: #313552;
  font-size: 48;
  text-align: left
}

h2 {
  font-family: Oswald, sans-serif;
  font-weight: 400;
  color: #313552;
  font-size: 24;
}

h3 {
  font-family: Oswald, sans-serif;
  font-weight: 400;
  color: #2EB086;
  font-size: 24;
}

a {
  text-decoration: none;
  color: #B8405E;
  font-family: Oswald, sans-serif;
  font-weight: 200;
  font-size: 24;
}

p {
  font-family: Oswald, sans-serif;
  font-weight: 200;
  color: #313552;
  font-size: 24;
}

.row {
  margin: 0 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.column {
  float: center;
  width: 50%;
  padding: 0 0px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgba(0,0,0,.1);
  margin: 10px;
  text-align: center;
  height: 320px;
}

.card-header {
  background: white;
  padding: 25px;
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgba(0,0,0,.1);
  margin: 10px;
  text-align: left;
  height: 320px;
  width: 95%;
  background-size: cover;
}

.btn {
  background-color: #B8405E;
  border-radius: 4px;
  color: white;
  display: inline-block;
  margin: 16px;
  padding: 12px 24px;
  box-shadow: 1px 1px 10px rgba(0,0,0,.1) ;
}

.btn:hover {
  background-color: #EEE6CE;
}

.img-circle {
  border-radius: 50%;
}

.icons-horizontal {
  display: inline-block;
}

#social-list {
  padding: 0;
}
